<p>form works!</p>
<!-- Error reporting, give some visual feedback to the user if they put something wrong in the inputs.-->
{{ friendForm.value | json }}<!--comes from form or json added wen-- checking value in real time-->
<form #friendForm="ngForm" action="">

  <label for="name">First name:</label>
  <input #name="ngModel" type="text" id="name" name="name" placeholeder="your name here" required [(ngModel)]="friendModel.name" >
  <label for="lastname">Last name:</label>
  <!--validation-->
  <div *ngIf="name.invalid && (name.dirty || name.touched)"
       class="alert">

    <div *ngIf="name.errors?.['required']">
      Name is required.
    </div>
    <div *ngIf="name.errors?.['minlength']">
      Name must be at least 4 characters long.
    </div>
    <div *ngIf="name.errors?.['forbiddenName']">
      Name cannot be Bob.
    </div>

  </div>







  <input #lastname="ngModel" type="text" id="lastname" name="lastname" placeholeder="your lastname here" required
         [(ngModel)]="friendModel.lastname">
  <label for="email">Email:</label>
  <input #email="ngModel" type="email" id="email" name="email" placeholeder="your email here" required
         [(ngModel)]="friendModel.email">
  <label for="phone">Phone number:</label>
  <input #phone="ngModel" type="tel" id="phone" name="phone" placeholeder="your phone number here" required
         [(ngModel)]="friendModel.phone">

  <select #favoriteLanguage="ngModel" name="favoriteLanguage" ngModel>
    <option *ngFor="let language of languages">{{ language }}</option><!-- for-loop for the form-languages (angular) taken from languages sting form component-->
  </select>

  <button type="button">Submit!</button>

</form>
